header {
    text-align: center;
}
section {
    margin-left: 150px;
    line-height: 30px;
    text-align: justify;
}
ul {
    margin-top: 70px;
    margin-bottom: 70px;
}
li {
    padding-left: 20px;
}
.for-example {
    margin-right: 180px;
    text-align: center;
}
.centralized {
    margin-right: 180px;
    text-align: right;
}
.second-image {
    margin-left: 250px;
}